%flexJustifyCenter {
    display: flex;
    justify-content: center;
}

%flexAlignCenter {
     display: flex;
     align-items: center;
 }

%flexCenter {
     @extend %flexJustifyCenter;
     align-items: center;
 }
